{% extends 'CoreBundle::layout.html.twig' %}

{% block content %}
{{ form_start(editProjectForm) }}
{{ form_widget(editProjectForm) }}
<div>
	<input type="submit" value="Modifier le projet/>
</div>
{{ form_end(editProjectForm) }}
{% endblock %}