<!DOCTYPE html>
<html>
        <head>
            <meta charset="utf-8">
            <link rel="stylesheet" href="main.css" />
        </head>
    <header>
         <div id="logother">
                    <a href="Ecran-login.html"> Login/Disconnect</a>
              </div>
          <div>
            <a href="Ecran-acc.html">
                <center>   
                       <img alt="Logo" src="LOGOx.png" width="400" height="150"> 
                </center>
            </a>
        </div> 
    </header>            
  <div>   
  </div>  
     <div id="navi">
         <button id="button-acc" class="button">Gestion des Projet</button>
         <button id="button-acc" class="button">Ressources</button>
         <button id="button-acc" class="button">Gestion des Tâches</button>
    </div>
        <div>
            <table id="table-acc"> 
                
                   <caption> Acceuil </caption>
                
                    <tr><td> Projet 1</td></tr>               
    
                    <tr><td> Feedback Maj</td></tr> 
    
                    <tr><td> Projet 2</td></tr>
    
                    <tr><td> Projet 3</td></tr>
   
                    <tr><td> Projet 4</td></tr>

            </table>    
        </div>  
    <footer></footer>
    <br/>
</html>