 {% extends 'CoreBundle::layout.html.twig' %}

{% block content %}
 <div id="navi">
	<a class="button button-acc" href="{{ url('core_project') }}">Gestion des Projet</a>
	<a class="button button-acc" href="{{ url('core_resource') }}">Ressources</a>
	<a class="button button-acc" href="{{ url('core_task') }}">Gestion des Tâches</a>
</div>

<div>
	<table id="table-acc">

		<caption> Accueil </caption>

		{% for project in app.user.projects %}
		<tr><td>{{ project.name }}</td></tr>
		{% endfor %}

	</table>
</div>  
{% endblock %}