<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="main.css" />
</head>
<header>
	<div id="logother">
		<a href="Ecran-login.html"> Login/Disconnect</a>
	</div>
	<div>
		<a href="Ecran-acc.html">
			<center>   
				<img alt="Logo" src="LOGOx.png" width="400" height="150"> 
			</center>
		</a>
	</div> 
</header>            
<div>   
</div>  
<div id="navi">
	<a class="button-ac">Gestion des Projet</button>
		<a class="button-ac">Ressources</button>
			<a class="button-ac">Gestion des Tâches</button>
			</div>
			<div>
				<table id="table-acc"> 

					<caption> Accueil </caption>

					{% for project in projects %}
					<tr><td>{{ project.name }}</td></tr>
					{% endfor %}

				</table>
			</div>  
			<footer></footer>
			<br/>
			</html>