{%extends 'CoreBundle::layout.html.twig' %}

{% block content %}
<div>
	<table>
		<caption> Gestion des ressources </caption>
		<tr> 
			<th>Nom</th> 
			<th>Projet affectée</th> 
			<th>Tâche affectée</th> 
		</tr>
		
		<tr>
			<td>DW</td> 
			<td>To jeej</td> 
			<td>  1 </td>
		</tr>
		
		<tr>
			<td>TD</td> 
			<td>To jeej</td> 
			<td>  5 </td>
		</tr>
		
		<tr>
			<td>RR</td> 
			<td>To jeej</td> 
			<td>  3 </td>
		</tr>  
	</table>
</div> 
{% endblock %}