<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css" />
</head>
    <body>    
        <header>
                <div id="logother">
                        <a href="Ecran-login.html"> Login/Disconnect</a>
                    </div>
                <div>
                    <a href="Ecran-acc.html">
                        <center>   
                                <img alt="Logo" src="LOGOx.png" width="400" height="150"> 
                        </center>
                    </a>
                </div> 
        </header>
                <div>
                    <table>
                        <caption> Gestion des ressources </caption>
                 <tr> 
                    <th>Nom</th> 
                    <th>Projet affectée</th> 
                    <th>Tâche affectée</th> 
                </tr>
            
                 <tr>
                    <td>DW</td> 
                    <td>To jeej</td> 
                    <td>  1 </td>
                </tr>
            
                 <tr>
                    <td>TD</td> 
                    <td>To jeej</td> 
                    <td>  5 </td>
                </tr>
            
                <tr>
                    <td>RR</td> 
                    <td>To jeej</td> 
                    <td>  3 </td>
                </tr>  
                    </table>
                </div> 
            <footer></footer>
    </body>
<html>
    