{% extends 'CoreBundle::layout.html.twig' %}

{% block content %}
<div>
	<table>   
		
		<caption> Gestion des tâches </caption>
		<tr> 
			<th>Nom Tâche</th>
			<th>Nom Projet</th>
			<th>Avancement</th> 
		</tr>

		{% for task in tasks %}
		<tr>
			<td>{{ task.name }}</td>
			<td>{{ task.project.name }}</td> 
			<td>{{ task.progress }}</td> 
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}
