{% extends 'CoreBundle::layout.html.twig' %}

{% block content %}
{{ form_start(form) }}
	{{ form_widget(form) }}
    <div>
        <input type="submit" value="S'enregistrer"/>
    </div>
{{ form_end(form) }}
{% endblock %}